
body, html {
  height: 100%;
}

img {
  //width: 100%;
  // height: auto;
}

.padding {
  margin-bottom: 1em;
}

.visually-hidden {
  display: none;
}

.container-full-width {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;

  &.-gray {
    color: $white;
    background-color: $grey-base;
  }

  &.-gray-light {
    color: $gray-base;
    background-color: $grey-light;
  }

  &.-dirty-white {
    color: $gray-base;
    background-color: $dirty-white;
  }

  &.-dirty-white-light {
    color: $gray-base;
    background-color: $dirty-white-light;
  }

  &.-purple-light {
    background-color: $purple-light;
  }

  &.-purple {
    background-color: $purple;
  }

  &.-blue {
    background-color: $blue;
  }
}

.page-content {
  margin: 1.5em 0 3em;

  img {
    width: 100%;
    margin: 1em 0;
  }

  li {
    margin-bottom: 0.8em;
  }
}

.gradient {
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: middle;

  &.-blue {
    background: linear-gradient(to bottom right, $blue1, $blue2);
  }

  &.-purple {
    background: linear-gradient(to bottom right, $purple1, $purple2);
  }
}

// Footer
.footer {
  background-color: $grey-base;
  padding: 3.5em 0 5em;
  margin-top: -0.5em;

  @include media-breakpoint-up(sm) {
    padding: 5em 0;
  }
}


.shifted-30-up {
  margin-top:-30px;
}

.shifted-15-up {
  margin-top:-15px;
}


.shifted-10-up {
  margin-top:-10px;
}

// Cards

.card {
  box-shadow: 0 2px 4px 0 #9B9B9B;
}

.card-bg-overlay {
  background: url('/assets/images/png/gradient_bg.png');
  background-position: 0 0;
  display: block;
  height: 10.8em;

  &.card-bg-verktyg {
    background-position: 100% 33%;
  }

  &.card-bg-verktyg-even {
    background-position: 100% 66%
  }

  &.card-bg-metoder-even {
    background-position: 0 66%
  }
}

a.card-link:hover .card-bg-verktyg {
  background-position: 100% 100%;
}

a.card-link:hover .card-bg-metoder {
  background-position: 0% 100%;
}

.gradient-border {
  background: url('/assets/images/png/gradient3.png');
  background-size: contain;
  height: 1rem;
}

p {
  &.-white {
    color: $white;
  }
}
