//
// images

@mixin set-colored-bg-image($bgcolor, $bggradient, $bgimage){
	background: linear-gradient(
      rgba($bgcolor, $bggradient),
      rgba($bgcolor, $bggradient)
    ), url($bgimage);
}

.hero-wrap {
//	min-width: 280px;
	margin: auto;
	position: relative;
	background: $black;
	@include set-colored-bg-image($black, 0.6, '../images/jpg/hero-demokratiskastader-desktop.jpg');
	background-size: cover;
	background-position: center center;
	height: 48em;

	@include media-breakpoint-down(sm) {
		height: 30.5em;
		background: $black;
    @include set-colored-bg-image($black, 0.6, '../images/jpg/hero-demokratiskastader-mobile.jpg');
    background-position: center center;
	}
}
