//
// images

@mixin set-colored-bg-image($bgcolor, $bggradient, $bgimage) {
	background: linear-gradient(
      rgba($bgcolor, $bggradient),
      rgba($bgcolor, $bggradient)
    ), url($bgimage);
}

@mixin set-dark-bg-image($bgimage) {
	@include set-colored-bg-image($black, 0.6, $bgimage);
}

.hero-wrap {
	background: $gray-base;
	@include set-dark-bg-image('../images/jpg/hero-demokratiskastader-desktop.jpg');
	background-size: cover;
	background-position: center center;
	height: 48em;

	@include media-breakpoint-down(sm) {
		height: 30.5em;
		background: $gray-base;
    @include set-dark-bg-image('../images/jpg/hero-demokratiskastader-mobile.jpg');
    background-position: center center;
	}
}

.hero-container {
	height: 85%;

	@include media-breakpoint-up(lg) {
		height: 75%;
	}
}
