//
// Icons

%icon {
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 auto;
}

.icon-header {
  padding: 0 0 1rem;
}


.icon-header-side {
  width: 2.5rem;
  margin-left: 0.5rem;

  @include media-breakpoint-up(md) {
    width: 3.5rem;
    margin-left: 1rem;
  }
}
