//
// Links and buttons

.read-more {
    background: url('/assets/images/svg/icon-arrow-small-white.svg') no-repeat right 55%;
    padding-right: 1rem;
    color: $white;

    &:hover {
      color: $dropdown-link-hover-color;
      text-decoration: underline;
      background-image: url('/assets/images/svg/icon-arrow-small-grey.svg');
    }
}

// Headlines

a:hover h3,
a:hover .card-title {
  text-decoration: underline;
}



// Tool listing
.tool-listing {
  padding-bottom: 8rem;

  @include media-breakpoint-up(lg) {
    padding-top: 6.75rem;
    padding-bottom: 14rem;
  }

  &_item {
    display: block;
    border: solid 1px $gray-light;
    border-radius: 0.375em;
    padding: 2.75rem 3rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24);
    margin: 1.25em 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    vertical-align: middle;

    background: url('../../assets/images/png/icon-arrow-big.png') no-repeat 94% 50%;


    @include media-breakpoint-down(sm) {
      padding: 2rem 1.25rem;
      background-image: url('../../assets/images/png/icon-arrow-medium.png');
    }

    &:hover,
    &:focus,
    &:active {

      background-image: url('../../assets/images/png/icon-arrow-big-white.png');

      color: $white;
      border-color: $link-color;
      background-color: $gray-base;
      text-decoration: none;
      -webkit-box-shadow: 0 2px 0 0 $link-color;
      -moz-box-shadow: 0 2px 0 0 $link-color;
      box-shadow: 0 2px 0 0 $link-color;

      @include media-breakpoint-down(sm) {
        background-image: url('../../assets/images/png/icon-arrow-medium-white.png');
      }
    }
  }

  font-size: $font-size-h3;

  line-height: 1.50em;
  text-decoration: none;
  font-family: $font-family-sans-serif;
  margin: 0;
  font-weight: normal;

  @include media-breakpoint-down(sm) {
    font-size: $font-size-base ;
  }

  &_arrow {
    position: relative;
    float: right;
    height: 1.875rem;
    width: 1.25rem;
    @include media-breakpoint-down(sm) {
      height: 1.5rem;
      width: 1rem;
    }
  }
}


.theme-listing {
  display: inline-block;
  margin: 0.5rem 2rem 0.5rem 0;

  padding: 0 0 0 1rem;
  background: url('../../assets/images/png/icon-arrow.png') no-repeat 0 0.5rem;

  &_item {
    color: $gray-base;

    &:hover,
    &:focus,
    &:active {
      color: $gray-base;
    }
  }
}

.resource-title {
  color: $white;
  text-decoration: underline;
  font-weight: bold;

}

.about-link {
  color: $gray-base;
  text-decoration: underline;
  font-weight: bold;
}
