.nav-item .nav-link {
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-weight: bold;
  white-space: nowrap;
  color: $white;

  &:hover,
  &:active {
    text-decoration: underline;
  }

  @include media-breakpoint-up(lg) {
    &.-black {
      color: $gray-base;

      &:hover {
        color: $gray-base;
      }
    }
  }

  @include media-breakpoint-down(md) {
    padding: 1.25rem 0;
  }
}


.footer .nav-item .nav-link {
  padding: 2rem;

  @include media-breakpoint-down(md) {
    padding: 0.875rem;
  }
}

@include media-breakpoint-down(md) {
  .menu-wrap {
    background: $black;
    position: relative;
    z-index: 999;
  }
}

.navbar-nav {
  @include media-breakpoint-down(md) {
    margin-top: 2rem;
  }
}

.navbar-brand {
  margin-top: -0.5rem;
}

.navbar-brand img {
  @include media-breakpoint-down(lg) {
    width: 20rem;
    height: auto;
  }

  @include media-breakpoint-down(xs) {
    width: 15rem;
    height: auto;
  }
}

.dropdown {
  @include media-breakpoint-up(lg) {
    background: $black;
    margin-right: 1.75rem;
  }
}

.dropdown-menu {
  @include media-breakpoint-down(md) {
    min-width: auto;
  }
}

.dropdown-item {
  background: url('/assets/images/svg/icon-arrow-small-white.svg') no-repeat 90% center;
  @include media-breakpoint-down(md) {
    white-space: inherit;
    padding-left: 0;
    background-position: 100% center;
    border-bottom: 1px solid $dropdown-link-hover-color;

    &.-first {
      border-top: 1px solid $dropdown-link-hover-color;
    }
  }
}

.dropdown-item:hover {
  text-decoration: underline;
  background-image: url('/assets/images/svg/icon-arrow-small-grey.svg');
}
