
.nav-item .nav-link {
  white-space: nowrap;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.main-menu .nav-item .nav-link,
.footer .nav-item .nav-link {
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-weight: bold;
  color: $white;
}

.main-menu .nav-item .nav-link {

  @include media-breakpoint-up(lg) {
    &.-black {
      color: $gray-base;

      &:hover {
        color: $gray-base;
      }
    }
  }
}

.main-menu .nav-item .nav-link {
  @include media-breakpoint-down(md) {
    padding: 1.25rem 0;
  }
}


.secondary-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}

.secondary-menu .nav-item .nav-link {
  padding: 0.5rem 0.75rem;
  font-size: 0.875em;
  line-height: 1.43em;
  opacity: 0.8;

  @include media-breakpoint-up(lg) {

    &.-black {
      color: $gray-base;

      &:hover {
        color: $gray-base;
      }
    }
  }
}

.footer .nav-item .nav-link {
  padding: 2rem;

  @include media-breakpoint-down(md) {
    padding: 0.875rem;
  }
}

@include media-breakpoint-down(md) {
  .menu-wrap {
    background: $black;
    position: relative;
    z-index: 999;
  }
}

.navbar-nav {
  @include media-breakpoint-down(md) {
    margin-top: 2rem;
  }
}

.navbar-brand {
  margin-top: -0.5rem;
}

.navbar-brand img {
  @include media-breakpoint-down(lg) {
    width: 20rem;
    height: auto;
  }

  @include media-breakpoint-down(xs) {
    width: 15rem;
    height: auto;
  }
}

.dropdown {
  @include media-breakpoint-up(lg) {
    background: $black;
    margin-right: 1.75rem;
  }
}

.dropdown-menu {
  @include media-breakpoint-down(md) {
    min-width: auto;
  }
}

.dropdown-item {
  background: url('/assets/images/svg/icon-arrow-small-white.svg') no-repeat 90% center;
  @include media-breakpoint-down(md) {
    white-space: inherit;
    padding-left: 0;
    background-position: 100% center;
    border-bottom: 1px solid $dropdown-link-hover-color;

    &.-first {
      border-top: 1px solid $dropdown-link-hover-color;
    }
  }
}

.dropdown-item:hover {
  text-decoration: underline;
  background-image: url('/assets/images/svg/icon-arrow-small-grey.svg');
}
