.nav-item .nav-link {
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-weight: bold;
  white-space: nowrap;
}

@include media-breakpoint-down(md) {
  .menu-wrap {
    background: $black;
  }
}

.navbar-brand img {

  @include media-breakpoint-down(lg) {
    width: 20rem;
    height: auto;
  }

  @include media-breakpoint-down(xs) {
    width: 15rem;
    height: auto;
  }
}

.dropdown {
  background: $black;
  margin-right: 1.75rem;
}

.dropdown-item {
  background: url('/assets/images/svg/icon-arrow-small-white.svg') no-repeat 90% center;
}

.dropdown-item:hover {
  text-decoration: underline;
  background-image: url('/assets/images/svg/icon-arrow-small-grey.svg');
}
