//
// Typography and custom fonts

@import url('https://fonts.googleapis.com/css?family=Itim|Noto+Sans:400,400i,700,700i');

%heading {
  color: $black;
  font-weight: bold;
  font-family: $font-family-sans-serif;

  &.-black {
    color: $gray-darker;
  }

  &.-white {
    color: $white;
  }

  &.-grey-base {
    color: $grey-base;
  }

  &.-gray-link {
    color: $gray-link;
  }

  &.-italic {
    font-style: italic;
  }
}

.heading-hero {
  @extend %heading;
  font-weight: normal;
  font-size: 1.625rem;
  line-height: 1.44em;
  color: $white;
  text-shadow: 0 0 1em #000;

  @include media-breakpoint-up(md) {
    font-size: $font-size-h1;
  }
}

// Heading a
.heading-a {
  @extend %heading;
  font-size: $font-size-h2;
  line-height: 1.3em;

  @include media-breakpoint-up(md) {
    font-size: $font-size-h2;
  }
}

// Heading b
.heading-b,
.content h2 {
  @extend %heading;
  font-size: $font-size-h2;
  line-height: 1.3em;

  @include media-breakpoint-up(md) {
    font-size: $font-size-h2;
  }
}

.heading-c,
.content h3 {
  @extend %heading;
  font-size: $font-size-h2;
  margin: 1.5em 0 1em;
  margin-top: 1em;
  position: relative;

  @include media-breakpoint-up(md) {
    font-size: $font-size-h2;
  }
}

h3 {
  @extend %heading;
  font-size: $font-size-h3;
}

h4 {
  @extend %heading;
  font-size: $font-size-h4;
  font-weight: normal;
  text-transform: uppercase;
}

h5 {
  @extend %heading;
  font-size: $font-size-h3;
}

// Paragraph body text
.body-text {
  font-family: $font-family-sans-serif;
  font-size: 1.125em;
  line-height: 1.750em;
  margin-bottom: 1.125em;
  color: $black;

  &.-white {
    color: $white;
  }

  &.-grey-base {
    color: $grey-base;
  }

  &.-blue {
    color: $blue;
  }

  &.-purple {
    color: $purple;
  }

  @include media-breakpoint-up(md) {
    font-size: 1.375em;
  }

  &.-small {
    @include media-breakpoint-up(md) {
      font-size: 1.250em;
      line-height: 1.750em;
    }
  }

  &.-xsmall {
    font-size: 0.875em;
    line-height: 1.750em;
  }
}

.content {
  li {
    margin-bottom: 0.8em;
  }
}
