//
// Typography and custom fonts

@import url('https://fonts.googleapis.com/css?family=Itim|Noto+Sans:400,400i,700,700i');

%heading {
  color: $white;
  font-weight: bold;
  font-family: $font-family-sans-serif;
}

.heading-hero {
  @extend %heading;
  font-weight: normal;
  font-size: 1.7em;
  line-height: 1.3em;
  color: $white;
  text-shadow: 0 0 1em #000;

  @include media-breakpoint-up(lg) {
    font-size: 3em;
  }
}

// Heading a
.heading-a {
  @extend %heading;
  font-size: 1.7em;
  line-height: 1.3em;

  &.-white {
    color: $white;
  }

  &.-italic {
    font-style: italic;
  }

  @include media-breakpoint-up(md) {
    font-size: 3em;
  }
}

// Heading b
.heading-b,
.content h2 {
  @extend %heading;
  font-size: 1.7em;
  line-height: 1.3em;

  &.-white {
    color: $white;
  }

  @include media-breakpoint-up(md) {
    font-size: 2.5em;
  }
}

.heading-c,
.content h3 {
  @extend %heading;
  font-size: 1.5em;
  margin-top: 1em;

  &.-white {
    color: $white;
  }

  &.-purple {
    color: $purple;
  }

  &.-italic {
    font-style: italic;
  }

  @include media-breakpoint-up(md) {
    font-size: 2em;
  }
}

// Paragraph body text
.body-text {
  font-family: $font-family-sans-serif;
  font-size: 1.125em;
  line-height: 1.750em;
  margin-bottom: 1.125em;
  color: $black;

  &.-white {
    color: $white;
  }

  &.-blue {
    color: $blue;
  }

  &.-purple {
    color: $purple;
  }

  @include media-breakpoint-up(md) {
    font-size: 1.375em;
  }

  &.-small {
    @include media-breakpoint-up(md) {
      font-size: 1.250em;
      line-height: 1.750em;
    }
  }

  &.-xsmall {
    font-size: 0.857em;
    line-height: 1.750em;
  }
}

.content {
  li {
    margin-bottom: 0.8em;
  }
}
