//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              #3d3d3d !default;
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             #D8D8D8 !default;
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$purple:                #666 !default;
$purple-light:          #ddd !default;
$blue:                  #666 !default;
$blue-light:            #eee !default;
$pink:                  #666 !default;
$pink-light:            #ccc !default;
$black:                 #000 !default;
$white:                 #fff    !default;
$yellow:                #ffff00 !default;

$grey-base:            #262626 !default;
$grey-light:           #313131 !default;

$blue1: #7be2d6;
$blue2: #8db0c1;

$purple1: #c72ba6;
$purple2: #9716f4;


// Body
//
// Settings for the `<body>` element.

$body-color:    $black !default;

// Links
//
// Style anchor elements.

$link-color:            $blue !default;
$link-hover-color:      $blue-light !default;


// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  'Noto Sans', 'arial', sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;

$font-size-base: 0.875rem !default; // 14px
$font-size-lg:   1.25rem !default;
$font-size-sm:   .875rem !default;
$font-size-xs:   .75rem !default;

$font-size-h1:            floor(($font-size-base * 2.5)) !default;
$font-size-h2:            floor(($font-size-base * 2)) !default;
$font-size-h3:            ceil(($font-size-base * 1.75)) !default;
$font-size-h4:            ceil(($font-size-base * 1.4)) !default;
$font-size-h5:            ceil(($font-size-base * 1.25)) !default;
$font-size-h6:            $font-size-base !default;

$line-height-base: 1.428571429 !default;

$headings-color:          $blue !default;



//== Navbar
//
//##

$navbar-default-color:             #777 !default;
$navbar-default-bg:                #f8f8f8 !default;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;

// Navbar links
$navbar-default-link-color:                #777 !default;
$navbar-default-link-hover-color:          #333 !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         #555 !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ddd !default;
$navbar-default-toggle-icon-bar-bg:        #888 !default;
$navbar-default-toggle-border-color:       #ddd !default;



//== Navs
//
//##

//=== Shared nav styles
$nav-link-padding:                          10px 15px !default;
$nav-link-hover-bg:                         $gray-lighter !default;

$nav-disabled-link-color:                   $gray-light !default;
$nav-disabled-link-hover-color:             $gray-light !default;
