<div class="footer">
  <footer class="container">


    <div class="row">
      <div class="col">
        <p class="footer-link text-center mb-2">Få uppdateringar om nya metoder och verktyg</p>
      </div>
    </div>

    <!-- Begin MailChimp Signup Form -->
    <form action="https://demokratiskastäder.us16.list-manage.com/subscribe/post?u=fa4e278976123653c61866aa8&amp;id=80de6fd8af" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class="form-row  justify-content-md-center pb-4">
    	   <label for="mce-EMAIL" class="sr-only col-form-label">E-post </label>
          <div class="col-sm-8 col-md-6 col-lg-4 mb-2">
      	    <input type="email" value="" name="EMAIL" placeholder="E-post" class="required email form-control" id="mce-EMAIL">
          </div>
        <div class="col-sm-4 col-lg-2">
          <input type="submit" value="Prenumerera" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-block mb-2 ml-sm-2">
        </div>
      </div>

      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fa4e278976123653c61866aa8_80de6fd8af" tabindex="-1" value=""></div>

    </form>
    <!--End mc_embed_signup-->


    <div class="row">
      <div class="col-sm-12 text-center">
        <p class="body-text -white">
          <a class="footer-link" href="{{site.baseurl}}/verktyg">Verktyg</a>
          <a class="footer-link" href="{{site.baseurl}}/metoder">Metoder</a>
          <a class="footer-link" href="{{site.baseurl}}/resurser">Resurser</a>
          <a class="footer-link" href="{{site.baseurl}}/om">Om Demokratiska Städer</a>
          <a class="footer-link" href="{{site.baseurl}}/kontakt">Kontakt</a>
        </p>
        <p>
          <a class="clean-link" href="http://digidemlab.org">
            <img class="logo-digidemlab" src="{{site.baseurl}}/assets/images/svg/logo-digidemlab.svg">
          </a>
        </p>

        <p class="body-text -xsmall -white">
          Demokratiska Städer är ett initativ från <a class="footer-link -small" href="http://digidemlab.org">Digidem Lab</a>.<br>
Allt innehåll är licensierat under <a class="footer-link -small" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> om inte annat anges.
        </p>
      </div>
    </div>
  </footer>
</div>
