<div class="footer">
  <footer class="container">


    <div class="row">
      <div class="col text-center">
        <h3 class="-white mb-3">Få uppdateringar om nya metoder och verktyg</h3>
      </div>
    </div>

    <div class="row justify-content-md-center pb-4">
      <div class="col-md-6 col-lg-4">
        <a href="http://eepurl.com/dvDpRH" target="_blank" class="btn btn-primary btn-block mb-2 ml-sm-2">Prenumerera på nyhetsbrev</a>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <ul class="nav flex-column flex-lg-row justify-content-center">

          {% for item in site.data.menu['main'] %}
            <li class="nav-item">
              <a class="nav-link" href="{% unless item.url contains 'http' %}{{site.baseurl}}{% endunless %}{{item.url}}">{{item.title}}</a>
            </li>
          {% endfor %}

          {% for item in site.data.menu['secondary'] %}
            <li class="nav-item">
              <a class="nav-link" href="{% unless item.url contains 'http' %}{{site.baseurl}}{% endunless %}{{item.url}}">{{item.title}}</a>
            </li>
          {% endfor %}

        </ul>

        <p class="text-center">
          <a class="clean-link" href="http://digidemlab.org">
            <img class="logo-digidemlab" src="{{site.baseurl}}/assets/images/svg/logo-digidemlab.svg">
          </a>
        </p>

        <p class="body-text -xsmall -white text-center">
          Demokratiska Städer är ett initativ från <a href="http://digidemlab.org">Digidem Lab</a>.<br>
Allt innehåll är licensierat under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> om inte annat anges.
        </p>
      </div>
    </div>
  </footer>
</div>
