<div id="skip-link">
  <a href="#main-content" class="sr-only" accesskey="s">To main content</a>
</div>

<header>

    <nav class="navbar navbar-transparent">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/images/png/logotyp.png" width="250" height="70" class="d-inline-block align-top"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="navbar-custom_item_link dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Vi vill <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for item in site.themes %}
                  <li><a href="{{site.baseurl}}{{item.url}}">{{item.title}}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li class="navbar-custom_item_link"><a href="{{site.baseurl}}/verktyg">Verktyg</a></li>
            <li class="navbar-custom_item_link"><a href="{{site.baseurl}}/metoder">Metoder</a></li>
            <li class="navbar-custom_item_link"><a href="{{site.baseurl}}/resurser">Resurser</a></li>
            <li class="navbar-custom_item_link"><a href="{{site.baseurl}}/om">Om</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

</header>

<a id="main-content"></a>
