<div id="skip-link">
  <a href="#main-content" class="sr-only" accesskey="s">To main content</a>
</div>

<header>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/images/png/logotyp.png" width="250" height="70" class="d-inline-block align-top"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Vi vill
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for item in site.themes %}
              <a class="dropdown-item" href="{{site.baseurl}}{{item.url}}">{{item.title}}</a>
            {% endfor %}
          </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/verktyg">Verktyg</a></li>
        <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/metoder">Metoder</a></li>
        <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/resurser">Resurser</a></li>
        <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/om">Om</a></li>
      </ul>
    </div>
  </nav>

</header>

<a id="main-content"></a>
