<nav class="navbar navbar-expand-lg navbar-dark p-0">
  <a class="navbar-brand" href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/images/png/logotyp.png" width="478" height="54"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown rounded-bottom">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Vi vill
        </a>
        <div class="dropdown-menu rounded-bottom" aria-labelledby="navbarDropdown">
          {% for item in site.themes %}
            <a class="dropdown-item" href="{{site.baseurl}}{{item.url}}">{{item.title}}</a>
          {% endfor %}
        </div>
      </li>
      {% if page.categories contains 'verktyg' or page.categories contains 'metoder' %}
      {% if page.background-image %}
      <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/verktyg">Verktyg</a></li>
      <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/metoder">Metoder</a></li>
      <li class="nav-item"><a class="nav-link pr-0" href="{{site.baseurl}}/om">Om</a></li>
      {% else %}
      <li class="nav-item"><a class="nav-link -black" href="{{site.baseurl}}/verktyg">Verktyg</a></li>
      <li class="nav-item"><a class="nav-link -black" href="{{site.baseurl}}/metoder">Metoder</a></li>
      <li class="nav-item"><a class="nav-link -black pr-0" href="{{site.baseurl}}/om">Om</a></li>
      {% endif %}
      {% else %}
      <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/verktyg">Verktyg</a></li>
      <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/metoder">Metoder</a></li>
      <li class="nav-item"><a class="nav-link pr-0" href="{{site.baseurl}}/om">Om</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
