<div class="col-md-6 col-lg-4 mb-3">
  <a href="{{ site.baseurl }}{{ post.url }}" class="card-link">
    <div class="card h-100">
      <div class="rounded-top card-bg-overlay d-flex align-content-center flex-wrap card-bg-{{post.categories[0]}} card-bg-{{post.categories[0]}}-{% cycle 'odd', 'even' %}">
        <h3 class="card-title text-center w-100 mb-0 align-self-center -white">{{ post.title }}</h3>
      </div>
      <div class="card-body align-self-center w-100">
        <p class="card-text">{{ post.excerpt }}</p>
      </div>
    </div>
  </a>
</div>
