{% if page.image %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-lg-10 col-xl-8 text-center">
        <img class="image-tool" src="{{site.baseurl}}{{page.image}}">
      </div>
    </div>
  </div>
{% endif %}

<div class="container -wide-margins">
  <div class="row justify-content-center">
    <div class="col col-md-10 col-lg-8 col-xl-6 content body-text">
      {{content}}
    </div>
  </div>

  {% if page.themes %}
    {% include content/theme-listing.html %}
  {% endif %}

</div>
