<div class="container-full-width {{include.class}}" {% if page.background-image %}style="background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url({{page.background-image}}) center center;background-size:cover;"{% endif %}>

  {% include panel/menu.html %}

  <div class="container">
    <div class="row">
      <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">

        {% assign class="-white" %}

        {% if page.background-image == null and include.class == "-dirty-white"%}
          {% assign class="-grey-base" %}
        {% endif %}

        <div class="page-intro text-center">
          {% if page.icon %}
            <img class="icon-header" src="{{site.baseurl}}{{page.icon}}">
          {% endif %}
          <h1 class="heading-a {{class}} mt-0">{{page.title}}</h1>
          <p class="summary {{class}}">{{page.ingress-text}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
