<div class="container-full-width -dirty-white">
  <div class="container -wide-margins">
    <div class="shortfact">
      <div class="row">
        <div class="col-sm-4 text-center">
          <div class="shortfact_inner">
            <img class="icon-header" src="{{site.baseurl}}/assets/images/svg/icon-chronometer.svg">
            <h3 class="heading-c -grey-base">Tidsåtgång</h3>
            <p class="body-text -small -grey-base">{{page.time}}</p>
          </div>
        </div>
        <div class="col-sm-4 text-center">
          <div class="shortfact_inner">
            <img class="icon-header" src="{{site.baseurl}}/assets/images/svg/icon-documents.svg">
            <h3 class="heading-c -grey-base">Resurser</h3>
            <p class="body-text -small -grey-base">{{page.costs}}</p>
          </div>
        </div>
        <div class="col-sm-4 text-center">
          <div class="shortfact_inner">
            <img class="icon-header" src="{{site.baseurl}}/assets/images/svg/icon-mountain.svg">
            <h3 class="heading-c -grey-base">Svårighetsgrad</h3>
            <p class="body-text -small -grey-base">{{page.difficulty}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
