<div class="container-full-width -dirty-white">
  <div class="container -extra-wide-margins {% unless page.background-image %}pt-0{% endunless %}">
    <div class="row justify-content-around">
      <div class="col-10 col-md-8 col-lg-4 col-xl-3 mb-4 text-center">
        <img  src="{{site.baseurl}}/assets/images/svg/icon-chronometer.svg">
        <h3 class="heading-c -grey-base">Tidsåtgång</h3>
        <p class="body-text -small -grey-base text-left">{{page.time}}</p>
      </div>
      <div class="col-10 col-md-8 col-lg-4 col-xl-3 mb-4 text-center">
        <img src="{{site.baseurl}}/assets/images/svg/icon-documents.svg">
        <h3 class="heading-c -grey-base">Resurser</h3>
        <p class="body-text -small -grey-base text-left">{{page.costs}}</p>
      </div>
      <div class="col-10 col-md-8 col-lg-4 col-xl-3 text-center">
        <img src="{{site.baseurl}}/assets/images/svg/icon-mountain.svg">
        <h3 class="heading-c -grey-base">Svårighetsgrad</h3>
        <p class="body-text -small -grey-base text-left">{{page.difficulty}}</p>
      </div>
    </div>
  </div>
</div>
