---
layout: default
---

<div id="skip-link">
  <a href="#main-content" class="sr-only" accesskey="s">To main content</a>
</div>

<div class="container-full-width gradient">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <div class="announcement">
          <a href="{{page.announcement-url}}" class="read-more">

            Demokratiska Städer var ett projekt av Digidem Lab, finansierat av Vinnova, som pågick 2017-2020.
              Digidem Lab implementerade de digitala plattformarna Consul och Decidim för första gången i Sverige, för stadsdelarna Majorna-Linné och Lundby i Göteborg, Bostadsbolaget Biskopsgården och Skärholmen i Stockholm. Den här projekthemsidan uppdateras inte längre. Se Digidem Labs hemsida för aktuell information om vårt arbete med medborgardeltagande.
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{{content}}

{% include panel/footer.html %}
