---
layout: global
---

{% include content/page-header.html class="-dirty-white" %}

<div class="container-full-width -dirty-white-light">
  {% include content/body-text.html %}
</div>

{% if page.is_theme %}
  <div class="container-full-width -dirty-white-light">
    <div class="container -wide-margins pt-0">
      <div class="row">
        <div class="col">
          <h2 class="heading-b mt-0">Verktyg och metoder</h2>
        </div>
      </div>
      <div class="row">
        <!-- Tools & Methods in Theme -->
        {% assign posts=site.posts | where:"themes", page.title %}
        {% for post in posts %}
          {% include teaser/teaser.html %}
        {% endfor %}
      </div>
    </div>

      {% assign resources=site.resources | where:"themes", page.title | reverse %}
      {% if resources.size > 0 %}
      <div class="container -wide-margins pt-0">

        <div class="row">
          <div class="col">
            <h2 class="heading-b">Resurser</h2>
          </div>
        </div>
        <div class="row">
          <!-- Resources in Theme -->
          {% for post in resources %}
              {% include teaser/teaser_list.html class="-black"%}
          {% endfor %}
        </div>
      {% endif %}

    </div>
  </div>


{% endif %}
