---
layout: global
---

{% include content/page-header.html class="-gray" %}

<div class="container-full-width -dirty-white-light">
  {% include content/body-text.html %}
</div>

{% if page.is_theme %}
  <div class="container-full-width -dirty-white-light">
    <div class="container -wide-margins">
      <div class="row">
        <!-- Tools & Methods in Theme -->
        {% assign posts=site.posts | where:"themes", page.title %}
        {% for post in posts %}
          {% include teaser/teaser.html %}
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="container-full-width -gray-light">
    <div class="container -wide-margins">
      <div class="row">
        <!-- Resources in Theme -->
        {% assign resources=site.resources | where:"themes", page.title %}
        {% for post in resources %}
            {% include teaser/teaser_list.html %}
        {% endfor %}
      </div>
      <hr>
    </div>
  </div>
{% endif %}
