---
layout: global
---

<div class="hero-wrap">
  <div class="container">

    {% include panel/menu.html %}

    <div class="row">
      <div class="col-sm col-md-10 offset-md-1 text-center hero-caption">
        <div class="hero-caption_content">
          <h1 class="heading-hero">{{page.summary}}</h1>
        </div>
      </div>
    </div>

  </div>
</div>

<a id="main-content"></a>
<main id="main">

<div class="container">
  <div class="tool-listing">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="heading-a -black"><a name="tool-listing" class="clean-link">Vi vill…</a></h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-8 offset-md-2">
        <dl>
          {% for item in site.themes %}
            <dd>
              <ul class="list-unstyled">
                <li class="tool-listing_item">
             	    <a href="{{site.baseurl}}{{item.url}}">
                    <div class="tool-listing_description">{{item.title}}</div>
                    <img src="{{site.baseurl}}/assets/images/svg/icon-arrow.svg" alt="" class="tool-listing_arrow">
                  </a>
                </li>
            </dd>
          {% endfor %}
        </dl>
      </div>
    </div>
  </div>
</div>

<div class="container-full-width -gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="heading-c">Metoder</h2>
      </div>
    </div>
    <div class="row">
      {% for post in site.categories.metoder limit:3 %}
        {% include teaser/teaser.html %}
      {% endfor %}
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h2 class="heading-c">Verktyg</h2>
      </div>
    </div>
    <div class="row">
      {% for post in site.categories.verktyg limit:3%}
        {% include teaser/teaser.html %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="container-full-width -gray-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="heading-c">Resurser</h2>
      </div>
    </div>
    <div class="row">
      {% for post in site.resources %}
        {% include teaser/teaser_list.html %}
      {% endfor %}
    </div>
    <hr>
  </div>
</div>

</main>
