---
layout: global
---

<div class="container-full-width -gray">
  <div class="container">
    <div class="row">

      {% include panel/menu.html %}

      <div class="col-sm-12 col-md-6 offset-md-3 text-center">
        <div class="page-intro">
          <h1 class="heading-a -white">{{page.title}}</h1>
          <p class="summary -white">{{page.ingress-text}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-full-width -dirty-white-light">
  <div class="container -wide-margins">
    <div class="page-content">
      <div class="row">
        <div class="content col-sm-10 offset-sm-1 col-md-8 offset-md-2">
          {{content}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-full-width -dirty-white-light">
  <div class="container -wide-margins">
    <div class="row">
      <!-- Tools & Methods in Theme -->
      {% assign posts=site.posts | where:"themes", page.title %}
      {% for post in posts %}
        {% include teaser/teaser.html %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="container-full-width -gray-light">
  <div class="container -wide-margins">
    <div class="row">
      <!-- Resources in Theme -->
      {% assign resources=site.resources | where:"themes", page.title %}
      {% for post in resources %}
          {% include teaser/teaser_list.html %}
      {% endfor %}
    </div>
    <hr>
  </div>
</div>
