---
layout: global
---

{% include content/page-header.html class="-dirty-white" %}

{% include content/shortfacts.html %}

<div class="container-full-width image-block gradient -bg-{{page.categories[0]}} {% if page.image %}-full{% else %}-border{% endif %}"></div>

<div class="container-full-width -dirty-white-light">

  {% include content/body-text.html %}

</div>

{% include content/resources.html %}

{% if page.quote %}
  {% include content/quote.html %}
{% else %}
  <div class="container-full-width gradient -border"></div>
{% endif %}
