---
layout: global
---

<div class="container-full-width -dirty-white" {% if page.background-image %}style="background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url({{page.background-image}})"{% endif %}>

  {% include panel/menu.html %}

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 offset-md-3 text-center">

        <div class="page-intro">
          {% if page.background-image %}
          <h1 class="heading-a -white">{{page.title}}</h1>
          <p class="summary -white">{{page.ingress-text}}</p>
          {% else %}
          <h1 class="heading-a -grey-base">{{page.title}}</h1>
          <p class="summary -grey-base">{{page.ingress-text}}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% include content/shortfacts.html %}

{% if page.image %}
<div class="container-full-width gradient -full"></div>
{% else %}
<div class="container-full-width gradient -border"></div>
{% endif %}
<div class="container-full-width -dirty-white-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 offset-md-2">
        <img class="image-tool" src="{{site.baseurl}}{{page.image}}">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="content col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 body-text">
        {{content}}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row category-lead">
      <div class="col-sm-12">
        <!-- Themes -->
        {% for item in site.themes %}
          {% if page.themes contains item.title %}
            <div class="theme-listing">
              <img src="{{site.baseurl}}/assets/images/svg/icon-arrow.svg" alt="" class="theme-listing_arrow">
              <a class="theme-listing_item" href="{{site.baseurl}}{{item.url}}">{{item.title}}</a>&nbsp;&nbsp;
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% include content/resources.html %}

{% if page.quote %}
  {% include content/quote.html %}
{% else %}
<div class="container-full-width gradient -border"></div>
{% endif %}
